<header class="site-header">
    
    <!-- Logo and title -->
	<div class="branding">
		<a href="{{ site.baseurl }}/">
			<img class="avatar" src="{{ site.baseurl }}/{{ site.theme_settings.avatar }}" alt=""/>
		</a>

		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme_settings.title }}</a>
		</h1>
	</div>
    
    <!-- Toggle menu -->
    <nav class="clear">
    <a id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>
    
    <!-- Menu -->
    <ul>
        {% for page in site.pages %}
        {% if page.title and page.hide != true %}
        <li>
            <a class="clear" href="{{ page.url | relative_url }}">
                关于
            </a>
        </li>
        {% endif %}
        {% endfor %} 
        {% if site.theme_settings.portfolio %}
        <li>
            <a class="clear" href="{{ site.url }}{{ site.baseurl }}/portfolio">
                档案夹
            </a>
        </li>
        {% endif %}
        
        <li>
            <a class="clear" href="{{ site.url }}{{ site.baseurl }}/search">
                查找
            </a>
        </li>
        
        
        <li>
            <a class="clear" href="{{ site.url }}{{ site.baseurl }}/tags">
                标签
            </a>
        </li>
        
        
    </ul>
        
	</nav>
</header>
